<form id="idea-form" action="{% url idea_new %}" method="post" {% if not form.errors %}class="hide"{% endif %}>
    {% if not user.is_anonymous %}
    <input type="hidden" id="id_{{form.author.name}}" name="{{form.author.name}}" value="{{user}}" />
    {% endif %}
    <input type="hidden" name="next" value="{{request.path}}" />
    {% csrf_token %}
    <pre id="formating-help">
    {{form.description.help_text|safe}}
    </pre>
    <section>
    <div class="field {% if form.title.errors %}error{% endif %}" id="field_{{form.title.name}}" >
        <label for="id_{{form.title.name}}">Título</label> 
        {{form.title}} borrador? {{form.is_draft}}
    </div>
    <div class="field required {% if form.description.errors %}error{% endif %}" id="field_{{form.description.name}}"> 
        {{form.description.errors}}
        <label for="id_{{form.description.name}}">Derrame</label>
        {{form.description}}
    </div>
        <div class="field required {% if form.tags.errors %}error{% endif %}" id="field_{{form.tags.name}}"> 
        {{form.tags.errors}}
        <label for="id_{{form.tags.name}}">Tags</label> 
        {{form.tags}}
    </div>
    </section>
    <div class="clear submit">
        <input name="save" type="submit" value="listo" /> 
        <a href="#idea-form" class="control">Cerrar</a> 

    </div>

</form>
