<title>inventta . {{object.title}}</title>
{% if instance %}
<h1><a href="/">../</a><a href="/idea/{{instance.tags}}">{{instance.tags}}/</a><a href="{{instance.get_absolute_url}}">{{instance.title|default:"sin-titulo"}}</a></h1>
{% else %}
<h1><a href="/">../</a>nueva entrada</h1>
{% endif %}

<form id="idea-form" 
      method="post"
      action="{% if instance %}{{instance.get_absolute_url}}{%else%}{% url index %}{% endif %}">
    {% if not user.is_anonymous %}
    <input type="hidden" id="id_{{form.author.name}}" name="{{form.author.name}}" value="{{user}}" />
    {% endif %}
    <input type="hidden" name="next" value="{% url index %}" />
    {% csrf_token %}
    <pre id="formating-help">
    {{form.description.help_text|safe}}
    </pre>
    <div class="field {% if form.title.errors %}error{% endif %}" id="field_{{form.title.name}}" >
        <label for="id_{{form.title.name}}">Título</label> 
        {{form.title}} borrador? {{form.is_draft}}
    </div>
    <div class="field required {% if form.description.errors %}error{% endif %}" id="field_{{form.description.name}}"> 
        {{form.description.errors}}
        <label for="id_{{form.description.name}}">Derrame</label>
        {{form.description}}
    </div>
        <div class="field required {% if form.tags.errors %}error{% endif %}" id="field_{{form.tags.name}}"> 
        {{form.tags.errors}}
        <label for="id_{{form.tags.name}}">Tags</label> 
        {{form.tags}}
    </div>
    <div class="clear submit">
        <input name="save" type="submit" value="listo" /> 
        <a href="/">cancelar</a> 
    </div>
</form>
<div id="preview">
{% if instance %}
{{instance.rendered|safe}}
{% endif %}
<div/>
