{%  load tagging_tags pagination_tags banner_tags %}
<title>inventta . {{tag_name}}</title>
{% regroup object_list by tags as object_list %}
{% autopaginate object_list 10 %}
{% for tag in object_list %}
    {%if tag_name%}
    <h1><a href="/">../</a><a href="/idea/{{tag_name|slugify}}" title="Hay {{object_list.count}} ideas con esta etiqueta">{{tag_name}}/</a></h1>
    {% else %}
    <h1><a href="/idea/{{tag.grouper}}">{{tag.grouper}}/</h1>
    {%endif%}
    {% for object in tag.list|slice:':5' %}
        {% include 'idea.html' %}
        {% if forloop.counter == 4 %}{% pop_slot 'content' %}{% endif %}
    {% endfor %}
    {% if forloop.counter == 5 %}{% pop_slot 'content' %}{% endif %}
{% endfor %}
{% paginate %}

